extends layout

block content
  h1= title
  - let costumeid = toShow._id
  - let costume_type = toShow.costume_type
  - let costumecost = toShow.cost
  - let costumesize = toShow.size

  div.row(class='mb-2')
    div.mr-1 ID is
    div #{costumeid}

  - let actionid = "/resource/costumes/" + costumeid
  form(id='CostumeForm', action=actionid, method="PUT")
    div.form-group
      label.costumeAttr(for='costume_type') Costume type
      input#costume_type(type='text', name='costume_type', value=costume_type, required, minlength="3")
    div.form-group
      label.costumeAttr(for='size') Costume size
      select#size(name='size' required)
        option(value='small', selected=size=='small') Small
        option(value='medium', selected=size=='medium') Medium
        option(value='large', selected=size=='large') Large
    div.form-group
      label.costumeAttr(for='cost') Costume cost
      input#cost(type='number', name='cost', value=costumecost, required, min="1")
    input(type="submit")

  script.
    document.addEventListener('DOMContentLoaded', () => {
      const form = document.getElementById('CostumeForm');
      if (form) {
        form.addEventListener('submit', (event) => {
          event.preventDefault();
          fetch(form.action, {
            method: 'PUT',
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: new URLSearchParams(new FormData(form)),
          })
            .then((resp) => {
              if (!resp.ok) {
                throw new Error(`HTTP error! status: ${resp.status}`);
              }
              return resp.json();
            })
            .then((body) => {
              alert('Update succeeded');
              console.log(body);
            })
            .catch((error) => {
              alert('Update failed: ' + error.message);
              console.error(error);
            });
        });
      }
    });
